div(class="modal fade" id="addBudgetModal" tabindex="-1" role="dialog" aria-hidden="true")
  div(class="modal-dialog" role="document")
    div(class="modal-content")
      div(class="modal-header")
        h5(class="modal-title")="Add a Budget Category"
        button(type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="clearAddBudgetModal()")
          span(aria-hidden="true")="×"
      div(class="modal-body")
        div(class="form-group")
          label="Budget Name"
          input(class="form-control" id="budgetName" placeholder="Budget Name" autocomplete="off")
        div(class="form-group")
          label="Budget Amount"
          input(class="form-control" id="budgetAmount" placeholder="Budget Amount" autocomplete="off")
      div(class="modal-footer")
        button(type="button" class="btn btn-secondary" data-dismiss="modal" onclick="clearAddBudgetModal()")="Close"
        button(type="button" class="btn btn-outline-success" onclick="addBudget()")="Add Budget Category"
