//--
//-- Converted from Bootstrap HTML and change accoreding to needs.
//--
nav(id="navbar-example2" class="navbar navbar-light bg-light navbar-fixed-top")
  a(class="navbar-brand" href="#")="Budgets for the Company"
  ul(class="nav nav-pills")
    li(class="nav-item")
      button(type="button" class="btn-sm btn-outline-success" onclick="$('#addBudgetModal').modal('show');")="Add Budget Category"
      
